@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(0, 0%, 8%);
    /* padding: 2rem; */
    font-family: Inter, sans-serif;
    font-size: 1.4rem;
    min-height: 100vh;
    font-weight: 400;
    /* width: 1440px; */
    margin: 0 auto;
}

.container {
    width: 500px;
    margin: 2rem auto;
    background-color: hsl(0, 0%, 12%);
    border-radius: 2rem;
    text-align: center;
    padding: 2rem;

}

.profile img {
    border-radius: 15rem;
    /* padding: 1.8rem; */
}

.name {
    color: hsl(0, 0%, 100%);
    padding-top: 2rem;
    font-size: 2.3rem;
    font-weight: 700;
}

.heading {
    color: hsl(75, 94%, 57%);
    margin-top: 1rem;
    margin-bottom: 3rem;
    font-size: 1.4rem;
}

p {
    color: hsl(0, 0%, 100%);
}

ul {
    list-style: none;
}

.social-media {

    margin-top: 3rem;

}

.social-media li a {
    background-color: hsl(0, 0%, 20%);
    padding: 1.6rem 0;
    color: hsl(0, 0%, 100%);
    border-radius: 1rem;
    margin-bottom: 1rem;
    transition: 0.3s;
    text-decoration: none;
    font-weight: 600;
    display: block;
}

.social-media li:hover a {
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 12%);
    font-weight: 600;

}